@import '@fontsource/radio-canada-big/400.css';
@import '@fontsource/radio-canada-big/500.css';
@import '@fontsource/radio-canada-big/600.css';
@import '@fontsource/radio-canada-big/700.css';


:root {
    --navy: #0C1A38;
    --navy2: #162D5C;
    --orange: #FF5C2E;
    --blue: #2563EB;
    --white: #FFFFFF;
    --smoke: #F6F7F9;
    --text: #0C1222;
    --text2: #374151;
    --text3: #6B7280;
    --fh: 'Radio Canada Big', sans-serif;
    --fb: 'Radio Canada Big', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fb);
    background: #e9effd;
    color: var(--text);
    overflow-x: hidden;
    line-height: 1.65;
    -webkit-font-smoothing: antialiased;
    padding: 24px;
    margin: 0;
}

@media (max-width: 768px) {
    body { padding: 12px; }
}